#eventAdd {
  width: 100%;
  background-color: white;
}

#formatted-output {
  width: 100%;
  padding: 0;
  margin: 0;
  height: 100%;
}

#buttons {
  clear: left;
  padding: 5px 0;
}

#css-button {
  float: right;
}

#custom-input {
  width: 100%;
  padding: 0;
  margin: 0;
}

#json-section {
  clear: left;
  width: 100%;
  float: left;
}

#json-section h4,
#css-section h4 {
  text-align: center;
}

#json-input {
  width: 100%;
  height: 300px;
  margin-bottom: 0;
}

#css-section {
  width: 49%;
  float: left;
  padding-left: 7px;
  float: right;
}

#css-input {
  width: 100%;
  height: 300px;
  margin-bottom: 0;
}

button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 10px 23px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

#css-button {
  background-color:#33c9ff;
}
